<section class="py-16">
    
        <% if (session.cart) { %>
        <div class="oeder container mx-auto w-1/2">
            <div class="flex items-center p-3 border-b border-gray-400 ">
                <img src="img/cart-black.png" alt="">
                <h1 class="font-bold text-2xl ml-2">Order summary</h1>
            </div>
        
            <%-include('../partials/customer/cart-items')%>

            <div class="text-right border-t mt-5 border-gray-400">
            
                 <span>Total Quantity :</span>
                <span class="font-bold "><%= session.cart.totalQty%></span >
            
           
                 <span class="pl-40">Total amount :</span>
                 <span class="font-bold"><%= session.cart.totalPrice%></span>
             
             <%if(user){%>
             <div class="address">
                 <form action="/orders" method="post">
                    <div class="h-6">
                        <% if(messages.error) {%>
                            <p class="text-red-500 text-sm pr-52"><%= messages.error%></p>
                            <%}%>
                    </div>
                     <input class="border rounded-full  mx-2 first-letter: p-1 w-1/2 border-gray-400" placeholder="address" type="text" name="address">
                     <input class="border rounded-full m-2 p-1 w-1/2 border-gray-400" placeholder="mobile" type="text" name="mobile">
                     <br>
                     <input class="Btn-primary rounded-full m-2 px-4 py-2" type="submit" value="Checkout">
                 </form>
             </div>
             <% }else{%>
             <div class="m-2">
                 <a class="Btn-primary rounded-full  px-4 py-2" href="/login">Login to continue</a>
             </div>
             <%}%>
            </div>
        </div>

        <% }else {%>

        <%-include('../partials/empty-cart')%>

        <% }%>
        
</section>